extends ../layout

block content
    h1= title
    hr
    .container.col-sm-10
        form.form-signin.col-lg-12(action="/events/edit/#{event._id}", method="post")
            h2.form-signin-heading Edit an event
            input.input-block-level.col-lg-12.form-row.form-field(type="text", name="title", placeholder="Event Title" value="#{event.title}")
            textarea.input-block-level.col-lg-12.form-row.form-field(name="description", placeholder="Description...") #{event.description}
            input.input-block-level.col-lg-12.form-row.form-field(type="text", name="datetime", placeholder="dd/mm/yyyy", class="datetimepicker" value="#{event.datetime}")
            input.input-block-level(type="hidden", name="userId", value="#{cookie}")
            if (errors)
                .error-container.col-lg-12
                    each error in errors
                        .error-row.col-lg-12 #{error.msg}
            button.btn.btn-large.btn-primary.col-lg-12.form-submit(type="submit") Finish editing
