extends ../layout

block content
	h1= event.title
	if (event.user != null)
		if (event.user._id == cookie)
			a.btn.btn-danger.edit-event-btn.pull-right(href="/events/delete/#{event._id}") #[i.fa.fa-pencil-alt] Edit
			a.btn.btn-danger.delete-event-btn.pull-right(href="/events/create/#{event._id}") #[i.fa.fa-times] Delete

		p Created by&nbsp;
			a(href="/users/profile/#{event.user._id}") #{event.user.name}

	p= event.description

